In [22]:
from tensorflow import keras
from tensorflow.keras.preprocessing.image import ImageDataGenerator
import pandas as pd
import os
import numpy as np

In [14]:
Model = keras.models.load_model('model')

In [15]:
path='h/'
data=pd.DataFrame({'id':os.listdir(path)})

In [17]:
# preparing test data
datagen = ImageDataGenerator(rescale=1./255.)

predict = datagen.flow_from_dataframe(
    dataframe=data,
    directory=path,
    x_col='id', 
    y_col=None,
    target_size=(64,64),         
    batch_size=1,
    shuffle=False,
    class_mode=None)

Found 12 validated image filenames.

In [33]:
predictions = Model.predict(predict, verbose=1)

12/12 [==============================] - 0s 4ms/step

In [34]:
predictions = np.transpose(predictions)[0]
predictions

array([4.2663237e-01, 3.3289637e-02, 2.0096645e-01, 2.7591038e-01,
       8.8588387e-01, 6.1562002e-02, 3.9093572e-01, 9.9606806e-01,
       3.2801423e-02, 5.9681514e-04, 2.7461268e-02, 9.1227844e-02],
      dtype=float32)

In [41]:
df = pd.DataFrame()
df['id'] = data['id'].apply(lambda x: x.split('.')[0])
df['label'] = list(map(lambda x: 0 if x < 0.5 else 1, predictions))
df['%'] = list(map(lambda x : round(x*100, 2), predictions))
df.head(12)

                                          id  label      %
0   0a0bd016a9f4058f109f3b23ed9363bc11d69107      0  42.66
1   00a0ad1de2cdf805f02c524a985bca5bce1d1b5f      0   3.33
2   0a0ce1220f56a48bf14615f80bc4c684244c909d      0  20.10
3   0a0d1a09e5cf9fcc308ecdc210450aecd204d344      0  27.59
4   0a0a8bdf1d78af77dcc0b94aef6fb5c2f841a3c0      1  88.59
5   0a0cb32503229ad36b7c06c817a4528cbc27eb3f      0   6.16
6   0a0c874029cb7010329b2b9e6e5aef4fc497612c      0  39.09
7   0a0d21d0131e154566005b3e5b6ad22e2262dfb7      1  99.61
8   0a0afa793274ea7638849eaf132461d7ff462b97      0   3.28
9   0a0a2e923bdedb11f270dcd3f11d0f001df98f00      0   0.06
10  0a0d55114d3c95af3033ed8b9cdbcee5c25489ee      0   2.75
11  0a0b4604d66cecfe668e26383c22fafb74484eef      0   9.12